<div class="Footer">
  <div class="Footer__copyright">
    <div class="Text Text--green Text--detail">{{ site.company_name }}</div>
  </div>

  <div class="Footer__links-container">
    <div class="Footer__tool-link">
      <a class="Link Link--pink" href="https://www.steuererklaerung.de">
        Steuererklaerung.de
        <span class="Icon Icon--small Icon--pink-arrow-right"></span>
      </a>
    </div>

    <ul class="Footer__links">
      <li class="Footer__link"><a class="Link" href="#">Press & Media</a></li>
      <li class="Footer__link"><a class="Link" href="#">Privacy</a></li>
      <li class="Footer__link Footer__link--last"><a class="Link" href="#">Imprint</a></li>
    </ul>
  </div>
</div>
