$colors: (
  light-white: #fafafa,
  red:  #fc3669,
  dark-red:  #7c1b34,
  green: #74928d,
  light-green: #28c3a9,
  lighter-green: #29e2c4,
  lightest-green: #bfd5d2,
  dark-green: #151c1a,
  darker-green: #073042,
)