@font-face {
  font-family: 'Geomanist';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/geomanist-regular-webfont.eot');
  src: url('/assets/fonts/geomanist-regular-webfont.eot?iefix') format('eot'),
  url('/assets/fonts/geomanist-regular-webfont.woff') format('woff'),
  url('/assets/fonts/geomanist-regular-webfont.ttf') format('truetype'),
  url('/assets/fonts/geomanist-regular-webfont.svg#webfont3AwWkQXK') format('svg');
}

@font-face {
  font-family: 'Geomanist Bold';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/geomanist-bold-webfont.eot');
  src: url('/assets/fonts/geomanist-bold-webfont.eot?iefix') format('eot'),
  url('/assets/fonts/geomanist-bold-webfont.woff') format('woff'),
  url('/assets/fonts/geomanist-bold-webfont.ttf') format('truetype'),
  url('/assets/fonts/geomanist-bold-webfont.svg#webfont3AwWkQXK') format('svg');
}

@font-face {
  font-family: 'Geomanist Book';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/geomanist-book-webfont.eot');
  src: url('/assets/fonts/geomanist-book-webfont.eot?iefix') format('eot'),
  url('/assets/fonts/geomanist-book-webfont.woff') format('woff'),
  url('/assets/fonts/geomanist-book-webfont.ttf') format('truetype'),
  url('/assets/fonts/geomanist-book-webfont.svg#webfont3AwWkQXK') format('svg');
}
