.Button {
  align-items: center;
  border: 1px solid;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 20px;

  /*
  Placement
   */
  &--full-width {
    display: flex;
  }

  &--full-height {
    height: calc(100% - 20px);
  }

  /*
  Semantic
   */
  &--hiring {
    border-color: map-get($colors, red);

    &:hover {
      background-color: map-get($colors, red);
      color: white;
    }
  }

  &--new-member {
    background-color: map-get($colors, lighter-green);
    border-color: map-get($colors, lighter-green);
    color: white;
    padding: 30px 20px;

    &:hover {
      background-color: map-get($colors, green);
      border-color: map-get($colors, green);
    }

    &.Button--full-height {
      height: calc(100% - 60px);
    }

    @media ($tablet) {
      align-items: flex-start;
      flex-direction: column;
      justify-content: space-around;
    }
  }

  /*
  Shapes
   */
  &--rounded {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  .Button__hover {
    display: none;
  }

  &:hover {
    .Button__hover {
      display: inline-block;
    }

    .Button__no-hover {
      display: none;
    }
  }
}
