.Button {
  align-items: center;
  border: 1px solid;
  display: inline-flex;
  flex-direction: row;
  padding: 10px 20px;

  /*
  Placement
   */
  &--full-width {
    display: flex;
  }

  &--full-height {
    height: calc(100% - 20px);
  }

  /*
  Semantic
   */
  &--cta {
    padding: 15px 20px;

    &.Button--full-height {
      height: calc(100% - 30px);
    }
  }

  /*
  Shapes
   */
  &--rounded {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  /*
  Colors
   */
  &--pink {
    border-color: map-get($colors, pink);
  }

  &--lighter-green {
    background-color: map-get($colors, lighter-green);
    border-color: map-get($colors, lighter-green);
    color: white;
  }
}
