.Header {
  padding: 10px;

  &__logo {
    background: url("/assets/images/logo.svg") no-repeat center;
    background-size: contain;
    height: 30px;
    width: 40px;
  }

  @media ($tablet) {
    padding-top: 40px;

    &__logo {
      width: 65px;
      height: 50px;
    }
  }
}
