.HomePage {
  &__headline {
    padding: 30px;
    padding-top: 120px;
  }

  &__products {
    padding: 60px 30px;
  }

  &__mission {
    padding-bottom: 80px;
    padding-top: 50px;
  }

  &__products-list {
  }

  &__product {
    display: block;
    margin: 10px 0;
    text-align: center;

    &-logo {
      margin: 30px 65px;
    }
  }
}