.HomePage {
  &__headline {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 130px);
    justify-content: center;
    padding: 0 10px;

    @media ($tablet) {
      height: calc(100vh - 180px);
    }
  }
}
