.Icon {
  background: no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  display: inline-block;
  padding-left: 10px;

  /*
  Placement
   */
  &--align-end {
    margin-left: auto;
  }

  /*
  Sizes
   */
  &--small {
    width: 12px;
    height: 12px;
  }

  &--medium {
    width: 16px;
    height: 16px;
  }

  &--large {
    width: 24px;
    height: 24px;
  }

  /*
  Icons
   */
  &--pink-arrow-up {
    background-image: url('/assets/images/arrow-pink.svg');
    transform: rotate(270deg);
  }

  &--pink-arrow-left {
    background-image: url('/assets/images/arrow-pink.svg');
    transform: rotate(180deg);
  }

  &--pink-arrow-down {
    background-image: url('/assets/images/arrow-pink.svg');
    transform: rotate(90deg);
  }

  &--pink-arrow-right {
    background-image: url('/assets/images/arrow-pink.svg');
  }

  &--white-arrow-up {
    background-image: url('/assets/images/arrow-white.svg');
    transform: rotate(180deg);
  }

  &--white-arrow-left {
    background-image: url('/assets/images/arrow-white.svg');
    transform: rotate(90deg);
  }

  &--white-arrow-down {
    background-image: url('/assets/images/arrow-white.svg');

  }

  &--white-arrow-right {
    background-image: url('/assets/images/arrow-white.svg');
    transform: rotate(270deg);
  }
}