.Products {
  padding: 40px 10px;

  &__mission {
    padding-bottom: 80px;
    padding-top: 50px;
  }

  &__list {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__product {
    border: 1px solid map-get($colors, lightest-green);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 20px 0 #E9F1F0;
    -moz-box-shadow: 0 2px 20px 0 #E9F1F0;
    box-shadow: 0 2px 20px 0 #E9F1F0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    text-align: center;
    width: 280px;
    height: 100px;

    &-logo {
      background: no-repeat center;
      bakground-size: contain;
      width: 148px;
      height: 40px;
    }

    @media ($tablet) {
      width: 350px;
      height: 130px;

      &-logo {
        width: 220px;
        height: 60px;
      }
    }
  }
}