.Products {
  padding: 40px 30px;

  &__mission {
    padding-bottom: 80px;
    padding-top: 50px;
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__product {
    border: 1px solid map-get($colors, lightest-green);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 20px 0 #E9F1F0;
    -moz-box-shadow: 0 2px 20px 0 #E9F1F0;
    box-shadow: 0 2px 20px 0 #E9F1F0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    text-align: center;
    width: 280px;
    height: 100px;
  }
}