.Products {
  padding: 40px 10px;

  @media ($tablet) {
    padding-bottom: 130px;
    padding-top: 130px;
  }

  &__mission {
    padding-bottom: 80px;
    padding-top: 50px;
    
    @media ($tablet) {
      padding-bottom: 120px;
      padding-top: 90px;
    }
  }

  &__list {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    @media ($tablet) {
      padding-top: 60px;
    }
  }

  &__product {
    align-items: center;
    border: 1px solid map-get($colors, lightest-green);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: center;
    margin: 10px 0;
    text-align: center;
    width: 280px;

    @media ($tablet) {
      margin: 15px 0;
    }

    &-logo {
      background: no-repeat center;
      background-size: contain;
      height: 46px;
      width: 149px;
    }

    &:hover {
      box-shadow: 0 2px 20px 0 #E9F1F0;
    }

    @media ($tablet) {
      height: 130px;
      flex-basis: 30%;

      &-logo {
        height: 70px;
        width: 223px;
      }
    }
  }
}
