.Team {
  padding: 10px;
  padding-bottom: 50px;
  padding-top: 60px;

  &__members {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__member {
    margin: 10px 0;
    position: relative;

    &-photo {
      width: 80px;
      height: 96px;
    }

    &-info {
      align-items: flex-start;
      background-color: transparentize(map-get($colors, darker-green), 0.5);
      bottom: 0;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
      left: 0;
      padding: 6px;
      position: absolute;
      right: 0;
      top: 0;
      visibility: hidden;
    }

    &:hover,
    &:focus {
      .Team__member-info {
        visibility: visible;
      }
    }

    &--join {
      flex-basis: 100%;

      @media ($tablet) {
        flex-basis: auto;
      }
    }
  }
}
