.Team {
  padding: 30px;

  &__members {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__member {
    position: relative;

    &-photo {
      width: 80px;
      height: 96px;
    }

    &-info {
      align-items: flex-start;
      background-color: transparentize(map-get($colors, darker-green), 0.5);
      bottom: 0;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
      left: 0;
      padding: 6px;
      position: absolute;
      right: 0;
      top: 0;
      visibility: hidden;
    }

    &:hover,
    &:focus {
      .Team__member-info {
        visibility: visible;
      }
    }
  }
}
