---
layout: base
---
<div class="HomePage">
  <div class="Container">
    {% include_relative _includes/home/headline.html %}
  </div>

  <div class="Box">
    <div class="Container">
      {% include_relative _includes/home/products.html %}
    </div>
  </div>

  <div class="Container">
    {% include_relative _includes/home/team.html %}
  </div>

  <div class="Box">
    <div class="Container">
      {% include_relative _includes/home/workplace.html %}
    </div>
  </div>

  <div class="Container">
    {% include_relative _includes/home/jobs.html %}
  </div>
</div>
