<div class="Box Box--section">
  <div class="HomePage__products">

    <div class="Text Text--pink Text--h2 Text--bold">Taxes suck</div>

    <div class="Text Text--dark-green Text--copy">
      You can get a lot of money back with tax declarations, but it's complicated, time-consuming and no one really understands them.
    </div>

    <div class="HomePage__mission">
      <div class="Text Text--bold Text--dark-green Text--h2">We are on a mission to change that:</div>
      <div class="Text Text--dark-green Text--copy">
        With specialized tax tools and modern UX, we are currently rethinking the whole tax industry..
      </div>
    </div>

    <div class="Text Text--bold Text--dark-green Text--h2">Our Products</div>
    <div class="HomePage__products-list">
      {% for product in site.products %}
      <div class="HomePage__product">
        <div class="Box Box--rounded">
          <a href="{{ product.href }}" target="_blank">
            <img class="HomePage__product-logo" src="/assets/images/products/{{ product.name }}.svg" />
          </a>
        </div>
      </div>
      {% endfor %}
    </div>

  </div>
</div>