<div class="Workplace">
  <div class="Text Text--h2 Text--bold">At wundertax,<br/>we ...</div>

  <ul class="List List--ordered List--flex">
    {% for item in site.data.culture %}
      <li class="List__item List__item--ordered List__item--flex">{{ item }}</li>
    {% endfor %}
  </ul>

  <div class="Text Text--h3 Text--pink">And.. it’s also fun to work with us:</div>

  <ul class="List List--bullet">
    {% for item in site.data.benefits %}
      <li class="List__item List__item--bullet">{{ item }}</li>
    {% endfor %}
  </ul>
</div>
